<div fxLayout="column wrap" style="padding: 10px;" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
  <form>
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
          <input matInput placeholder="First Name" [required]="false">

        </mat-form-field>
        <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
          <input matInput placeholder="Last Name" [required]="false">

        </mat-form-field>
      </div>
    </div>
  </form><button mat-raised-button color="primary" (click)="save()">Save</button>
</div>